*, *::after, *::before {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 2px;
}
body {
    font-family: 'Roboto', 'Calibri', sans-serif;
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    font-size: 1rem;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    color: #000;
}
a {
    color: #e13300;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6, p, a, span, li {
    line-height: 2;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.container{
    position: relative;
    display: block;
}
.container::after{
    content: ' ';
    position: relative;
    display: block;
    clear: both;
    float: none;
}
.name{
    font-family: 'Kaushan Script', cursive;
    padding-top:12%;
    font-size: 6rem;
    font-weight: lighter;
}

.slogan{
    padding-top:0rem;
    font-size: 2rem;
    color: #666;
    font-family: 'Sacramento', cursive;
}

.commingsoon{
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    font-weight: lighter;
}
